<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iris flowers classification</title>
</head>
<body>
    <h1>Iris flowers classification </h1>
    <form method="post" action="/predict">
        <label>Sepal Length(cm)</label><br>
        <input type="text" name="Sepal Length(cm)"><br><br>

        <label>Sepal Width(cm)</label><br>
        <input type="text" name="Sepal Width(cm)"><br><br>

        <label>Petal Length(cm)</label><br>
        <input type="text" name="Petal Length(cm)"><br><br>

        <label>Petal Width(cm)</label><br>
        <input type="text" name="Petal Width(cm)"><br><br>
        
        <input type="submit" value="Predict"><br><br>


    </form>
</body>
</html>